<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtzXUbM661a2EJAWTN1rlqx7f4-wH8Ir4</string>
	<key>GCM_SENDER_ID</key>
	<string>162756144812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toder</string>
	<key>PROJECT_ID</key>
	<string>todo-app-f6323</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-f6323.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162756144812:ios:84cb671db35e6e28fef909</string>
</dict>
</plist>